.search {
    display: flex;
    flex-flow: column wrap;

    &__title {
        padding-left: 40px;
        font-size: 2em;
        font-weight: 300;
    }

    &__form {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        @include media-breakpoint-up(lg) {
            grid-template-columns: 50% auto;
        }
    }

    &__input {
        position: relative;
        z-index: 10;
        width: 80%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: 300;
        border: none;
        border-bottom: 1px solid $border-grey-light;
        transition: box-shadow .3s ease;
        transition: width .5s ease;

        &:focus {
            width: 100%;
            border-bottom: 1px solid $border-grey-dark;
            outline: none;
            transition: all .5s ease;
        }

        @include media-breakpoint-up(lg) {
            display: inline-block;
            width: 350px;

            &:focus {
                width: 500px;
            }
        }

        &.error {
            color: $red;
            border-bottom: 1px solid $red;
            transition: all .3s;

            &::placeholder {
                color: $red;
            }
        }
    }

    &__buttons {
        display: flex;
        align-self: center;

        @include media-breakpoint-up(lg) {
            justify-self: end;
        }
    }

    &__result {
        margin: 20px 0;
        line-height: 0;
        column-count: 1;
        column-gap: 20px;

        @include media-breakpoint-up(md) {
            column-count: 2;
        }

        @include media-breakpoint-up(lg) {
            column-count: 3;
        }

        &--name {
            padding: 15px 5px;
            text-align: left;
        }

        &.disabled {
            opacity: 0;
            visibility: hidden;
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__load-more {
        display: none;
        margin-bottom: 20px;
        text-align: right;

        &.active {
            display: block;
        }
    }

    &__item {
        width: 100%;
        height: auto;
    }

    &__figure {
        animation: ease .8s appearImage;
        position: relative;
    }

    @keyframes appearImage {
        0% {
            opacity: 0;
            visibility: hidden;
        }

        100% {
            opacity: 1;
            visibility: visible;
        }
    }

    &__info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .2) 0, transparent 40%, transparent 60%, rgba(0, 0, 0, .3));
        opacity: 0;
        transition: all .15s ease-in-out;

        &:hover,
        &:hover + .search__figcaption {
            cursor: zoom-in;
            opacity: 1;
        }
    }

    &__figcaption {
        position: absolute;
        bottom: 20px;
        left: 10px;
        font-size: 18px;
        color: #fff;
        opacity: 1;
        justify-self: flex-end;
    }

    &__wrapper-download {
        display: inline-block;
        width: 100%;
        margin-right: 20px;
        text-align: right;
    }

    &__download {
        @include size(25px);
        fill: #fff;
    }

    &__likes {
        position: absolute;
        top: 20px;
        display: flex;
        align-items: center;
        width: 100%;

        &--icon {
            margin-right: 10px;
            fill: $red-likes;
        }

        &--text {
            padding-right: 10px;
            margin-left: 20px;
            font-weight: 600;
            color: #fff;
        }
    }

    &__history {
        position: absolute;
        top: 100px;
        z-index: 1000;
        width: 100%;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
        transition: all .6s ease;

        @include media-breakpoint-up(lg) {
            width: 500px;
        }

        &.active {
            top: 60px;
            opacity: 1;
            visibility: visible;
        }

        &--list {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        &--item {
            padding: 5px 10px;
            font-size: 1.2rem;

            &:hover {
                cursor: pointer;
                background-color: rgb(245, 245, 245);
                transform: scale(1.01);
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
            }
        }
    }
}
