.search {
    display: flex;
    flex-flow: column wrap;

    &__title {
        padding-left: 40px;
        font-size: 2em;
        font-weight: 300;
    }

    &__form {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        @include media-breakpoint-up(lg) {
            grid-template-columns: 50% auto;
        }
    }

    &__input {
        z-index: 10;
        width: 80%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: 300;
        border: none;
        border-bottom: 1px solid $border-grey-light;
        transition: box-shadow .3s ease;
        transition: width .5s ease;

        &:focus {
            width: 100%;
            border-bottom: 1px solid $border-grey-dark;
            outline: none;
            transition: all .5s ease;
        }

        @include media-breakpoint-up(lg) {
            display: inline-block;
            width: 350px;

            &:focus {
                width: 500px;
            }
        }

        &.error {
            color: rgb(204, 2, 2);
            border-bottom: 1px solid rgb(204, 2, 2);
            transition: all .3s;

            &::placeholder {
                color: rgb(204, 2, 2);
            }
        }
    }

    &__buttons {
        display: flex;
        align-self: center;

        @include media-breakpoint-up(lg) {
            justify-self: end;
        }
    }

    &__result {
        margin: 20px 0;
        line-height: 0;
        column-count: 1;
        column-gap: 20px;

        @include media-breakpoint-up(md) {
            column-count: 2;
        }

        @include media-breakpoint-up(lg) {
            column-count: 3;
        }

        &--name {
            padding: 15px 5px;
            text-align: left;
        }

        &.disabled {
            display: none;
        }

        &.active {
            display: block;
        }
    }

    &__load-more {
        display: none;
        margin-bottom: 20px;
        text-align: right;

        &.active {
            display: block;
        }
    }

    &__item {
        width: 100%;
        height: auto;
        box-shadow: inset 0 210px 120px 100px rgba(66, 66, 66, .75);
    }

    &__figure {
        position: relative;
    }

    &__info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .2) 0, transparent 40%, transparent 60%, rgba(0, 0, 0, .3));
        opacity: 0;
        transition: all .15s ease-in-out;

        &:hover,
        &:hover + .search__figcaption {
            opacity: 1;
        }
    }

    &__figcaption {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 18px;
        color: #fff;
        justify-self: flex-end;
        opacity: 1;
    }

    &__wrapper-download {
        text-align: right;
        margin-right: 20px;
        display: inline-block;
        width: 100%;
    }

    &__download {
        @include size(25px);
        fill: #fff;
    }

    &__likes {
        position: absolute;
        top: 20px;
        display: flex;
        align-items: center;
        width: 100%;

        &--icon {
            margin-right: 10px;
            fill: rgb(255, 41, 41);
        }

        &--text {
            padding-right: 10px;
            margin-left: 20px;
            font-weight: 600;
            color: #fff;
        }
    }
}
