@import 'variables';
@import 'bootstrap/bootstrap';
@import 'base/*';

body {
    font-family: 'Roboto', $font-family-base;

    &.wf-active {
        font-family: $font-family-base;
    }
}

figure {
    margin: 0 0 20px;
}

a {
    color: #fff;
    text-decoration: underline;

    &:hover {
        color: #fff;
    }
}

p {
    margin-bottom: 0;
    text-align: left;
}
@import 'components/*';
