// Main color variables
$main-white: #fff;
$bg-grey-dark: rgb(66, 66, 66);
$border-grey-light: rgb(200, 200, 200);
$border-grey: rgb(150, 150, 150);
$border-grey-dark: rgb(61, 61, 61);

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
