.btn {
    min-width: 120px;
    padding: 12px 20px;
    margin: 0 5px;
    background-color: $main-white;
    border: 1px solid $border-grey-light;
    transition: border .5s ease;

    &:hover,
    &:focus {
        cursor: pointer;
        border: 1px solid $border-grey-dark;
        outline: none;
    }
}

.btn-100 {
    width: 100%;

    @include media-breakpoint-up(lg) {
        display: inline-block;
        width: inherit;
    }
}
