.btn {
    min-width: 120px;
    padding: 12px 20px;
    background-color: $main-white;
    border: 1px solid $border-grey-light;
    transition: border .5s ease;
    margin: 0 5px;

    &:hover,
    &:focus {
        cursor: pointer;
        border: 1px solid $border-grey-dark;
        outline: none;
    }
}
