.loader {
    @include size(50px);
    position: relative;
    margin-top: 20px;
    left: calc(50% - 25px);
    display: none;
    border: 3px inset  #eee;
    border-radius: 35px;
    transform: translateZ(0);
    animation: rotate 1000ms infinite linear;

    &.active {
        z-index: 1000;
        display: block;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
